# For FastAPI
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary
alembic

# Validation & Settings
pydantic
pydantic-settings

# Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Utilities
user-agents
